* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Optional: Hide horizontal scrollbar */
    overflow-y: hidden;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float-image {
  animation: float 5s ease-in-out infinite;
}

.hover-effect {
  transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.1);
}

.home_header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 0.5em;
  border-bottom: 1px solid lightblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
  background-color: white;
  margin-bottom: 10px;
}

.container {
  display: flex;
  height: 80vh; /* Use viewport height for full screen height */
}

.left, .right {
  flex: 1; /* Each div takes up equal space */
}

.left{
  display: grid;
  place-items: center;
  height: 80vh; 
}

.polarAreaModel{
   display: grid;
   place-items: center;
   height: 40vh;
   width: 50vw;
   
}

.chart {
  width: 80%; 
  height: 80%; 
}

.route_container{
  width: 80%; 
  height: 80%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.user, .department, .payroll, .employee {
  width: 100%; 
  height: 100%;
  display: flex;
  background-color: rgb(54, 162, 235);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 2rem;
  color: white;
}
