
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden; /* Optional: Hide horizontal scrollbar */
    overflow-y: hidden;
}

.login_form{
    display: flex ;
    height: 52vh;
    flex-direction: column;
    justify-content:  space-around;
    
}

.login_container {
    border: black 2px double ;
    border-radius: 10px;
    width: 420px;
    height: 55vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float-image {
  animation: float 5s ease-in-out infinite;
}

